name: Deploy

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened, closed]
    branches:
      - main

env:
  PR_NAME: pr-${{ github.event.pull_request.number }}
  PUBLISH_DIR: storybook-static
  DESTINATION_DIR: storybook

jobs:
  deploy:
    env:
      PREVIEW_URL: https://${{ github.repository_owner }}.github.io/deploy-example/pr-${{ github.event.pull_request.number }}/storybook/

    name: Deploy Job
    if: github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.action != 'closed')
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
  
    steps:
      - uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: '14'

      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - run: npm ci
      - run: npm run build

      - name: Deploy Latest
        uses: peaceiris/actions-gh-pages@v3
        if: ${{ github.ref == 'refs/heads/main' }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ${{ env.PUBLISH_DIR }}
          destination_dir: ${{ env.DESTINATION_DIR }}

      - name: Deploy Preview
        uses: peaceiris/actions-gh-pages@v3
        if: ${{ github.ref != 'refs/heads/main' }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ${{ env.PUBLISH_DIR }}
          destination_dir: ${{ env.PR_NAME }}/${{ env.DESTINATION_DIR }}

      - name: Find Comment
        uses: peter-evans/find-comment@v1
        if: ${{ github.ref != 'refs/heads/main' }}
        id: fc
        with:
          issue-number: ${{ github.event.pull_request.number }}
          comment-author: 'github-actions[bot]'
          body-includes: Deploy preview

      - name: Create or update comment
        uses: peter-evans/create-or-update-comment@v1
        if: ${{ github.ref != 'refs/heads/main' }}
        with:
          comment-id: ${{ steps.fc.outputs.comment-id }}
          issue-number: ${{ github.event.pull_request.number }}
          body: |
            Deploy preview:
            - [storybook](${{ env.PREVIEW_URL }})
          edit-mode: replace
  
  clean:
    name: Clean Preview Job
    if: github.event_name == 'pull_request' && github.event.action == 'closed'
    runs-on: ubuntu-latest
    steps:
      - name: Set GitHub Actions as Commit Author
        run: |
          git config user.name ${{ github.event.pull_request.user.login }}
          git config user.email ${{ github.event.pull_request.user.login }}@users.noreply.github.com

      - uses: actions/checkout@v2
        with:
          ref: gh-pages
  
      - name: Remove PR preview dir
        run: |
          git rm -r ${{ env.PR_NAME }}
          git add .
          git commit -m 'deploy: clean pr ${{ env.PR_NAME }}'
          git push origin gh-pages
